.icons-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);
    gap: 20px;
    place-content: center;
    place-items: center;
    width: 1450px;
    margin: auto;
}

.icon-content {
    width: 160px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    flex-direction: column;
}

.icon-content:hover {
    background-color: aliceblue;
}

.icon-content > i {
    margin: 20px;
    font-size: 30px;
}
.icon-content > span {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
