/*Home*/
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}
div#app {
    height: 100%;
}
.home-content {
    height: 100%;
    background: url(../image/bg010.jpg) no-repeat fixed top;
    background-size: 100% 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-content-button {
    color: #fff;
    background-color: #2ea44f;
    box-shadow: 0 1px 0 rgba(27,31,35,.1), inset 0 1px 0 hsla(0,0%,100%,.03);
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    border: 1px solid rgba(27,31,35,.15);
    border-radius: 6px;
    text-decoration: none;
}

.router-link-active {
    color: red;
}

.icons-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);
    gap: 20px;
    place-content: center;
    place-items: center;
    max-width: 1450px;
    margin: auto;
    color: #717171;
}

.icon-content {
    width: 160px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    flex-direction: column;
    cursor: pointer;
}

.icon-content:hover {
    background-color: aliceblue;
}

.icon-content > i {
    margin: 0 20px 20px;
    font-size: 30px;
}
.icon-content > span {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.test-chart {
    width: 1500px;
    height: 400px;
}
.time-chart {
    height: 100px;
}