/*Home*/
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}
div#app {
    height: 100%;
}
.home-content {
    height: 100%;
    background: url(../image/bg010.jpg) no-repeat fixed top;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-content-button {
    color: #fff;
    background-color: #2ea44f;
    box-shadow: 0 1px 0 rgba(27,31,35,.1), inset 0 1px 0 hsla(0,0%,100%,.03);
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    border: 1px solid rgba(27,31,35,.15);
    border-radius: 6px;
    text-decoration: none;
}
/*Header*/
.page-header {
    background-color: cornflowerblue;
    position: fixed;
    width: 100%;
    top: 0;
    z-index:999;
}
.header-container {
    padding: 0 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-container-button {
    margin: 10px;
}
.header-container-button > a {
    color: #fff;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    border-radius: 6px;
    text-decoration: none;
}
.header-container-button > a:hover {
    background-color: #2ea44f;
}
.page-app, .page-blog {
    margin-top: 50px;
}

.router-link-active {
    color: red;
}
/*APP*/
.app-container {
    position: relative;
    z-index: 1;
    padding: 0 60px 30px;
    overflow-x: hidden;
}
.app-sidebar {
    position: fixed;
    z-index: 10;
    top: 51px;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
@media screen and (max-width: 1750px) {
  .app-sidebar {
    position: fixed;
    background-color: #f9f9f9;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: all 0.4s cubic-bezier(0.4, 0, 0, 1);
    -webkit-transform: translate(-280px, 0);
    transform: translate(-280px, 0);
  }
}
.app-sidebar-inner {
    width: 260px;
    padding: 35px 0 60px 20px;
}

.app-item-content {
    position: relative;
    padding: 35px 0;
    max-width: 1400px;
    margin: 0 auto;
}

.icons-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);
    gap: 20px;
    place-content: center;
    place-items: center;
    max-width: 1450px;
    margin: auto;
    color: #717171;
}

.icon-content {
    width: 160px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    flex-direction: column;
    cursor: pointer;
}

.icon-content:hover {
    background-color: aliceblue;
}

.icon-content > i {
    margin: 0 20px 20px;
    font-size: 30px;
}
.icon-content > span {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.test-chart {
    width: 1400px;
    height: 400px;
}
.time-chart {
    height: 100px;
}

.novel_content > pre {
    overflow: scroll;
    max-height: 600px;
    width: 1000px;
    word-wrap: break-word;
    word-break: break-word;
    white-space: break-spaces;
    background-color: aliceblue;
    padding: 20px;
}

.novel-list > div {
    cursor: pointer;
}
.novel-list > div:hover {
    color: cornflowerblue;
}
.novel-list .active-novel {
    color: #2ea44f;
}